.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img {
    animation: spin 1s;
}

@keyframes rock {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(50px);
    }
    20% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
    }
}

#bear:active {
    animation: rock 2s;
}

@keyframes disapper {
    0% {
        transform: scale(100%);
        opacity: 100%;
    }

    100% {
        transform: scale(10%);
        opacity: 0%;
    }
}

#elephant:after {
    animation: disapper 1s;
}

@keyframes dance {
    0% {
        transform: rotate(0deg) translateY(0px);
    }
    15% {
        transform: rotate(15deg) translateY(10px);
    }
    67% {
        transform: rotate(-15deg) translateY(-10);
    }
}