@keyframes spin {
    from {
        transform: rotate(0deg) scale(1);
    }

    to {
        transform: rotate(360deg) scale(1.5);
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(50px, 0);
    }
    50% {
        transform: translate(50px, 50px);
    }
    75% {
        transform: translate(0px, 50px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

img:hover {
    animation: move 1s ease-in;
    animation-iteration-count: infinite;
}